.payment-card{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 15px;
}
.card-header{
    width: 100%;
    padding: 15px;
    background-color: #F2F2F2;
}
.card-body{
    padding: 15px;
}
.card-input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 20px;
}
.card-input:focus{
    border-top: 0;
}
.m-t{
    margin-top: 81px !important;
}
@media (max-width: 750px){
    .m-t{
        margin-top: 30px !important;
    }   
}
