button, input[type=submit]{
  text-transform: uppercase;
  font-weight: bold !important;
}
.container{
  padding: 50px;
}
.pt-10{
  padding-top: 100px;
}
.mt-7{
  margin-top: 70px !important;
}
.mt-3{
  margin-top: 30px;
}
.mt-2{
  margin-top: 20px;
}
.m-0{
  margin: 0px;
}
.mb-1{
  margin-bottom: 10px;
}
.mb-2{
  margin-bottom: 20px !important;
}
.mb-3{
  margin-bottom: 30px !important;
}
.pt-15{
  padding-top: 150px;
}
.p-3{
  padding: 30px !important;
}
.text-center{
  text-align: center !important;
}
.divider{
  height: 2px;
  background-color: #8EC6F7;
}
.float-right{
  float: right;   
}
.font-size-13{
  font-size: 13px;
}
.text-white{
  color: #fff !important;
}
.font-weight-bold{
  font-weight: bold !important;
}
/*This is for list container*/
.setting-container{
  box-shadow: 0px 0px 6px 0px rgba(161, 159, 159, 0.75);
  min-height: 750px;
  margin: 0px !important;
  padding: 0px !important;
}
.list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.list li{
  font-size: 18px;
  padding: 10px;
  padding-left: 25px;
}
.list-container{
  background-color: #FCFCFC;
  border-left: 1px solid #f1f1f1;
  height: auto;
}
.list li:hover{
  border-left: 3px solid #007FED;
  cursor: pointer;
}
.list li.active{
  border-left: 3px solid #007FED;
  cursor: pointer;
}
.setting-title{
  background-color: #FCFCFC;
  border-left: 3px solid #007FED;
  font-size: 18px !important;
  padding: 8px;
  padding-left: 20px;
}